<header class="site-header">

  <div class="wrapper">

    <a href="{{ site.baseurl }}/" class="logo"><img src="{{ site.baseurl }}/assets/img/2015_logo-final.png" alt="Arnaud Prat"></a>
    <h1>{{ site.title }}</h1>
    <h2>Webdesigner / Développeur front-end</h2>

    <nav class="navigation">

      <ul>
        <li><a class="page-link" href="/">Home</a></li>
        <li><a class="page-link" href="/work/">Work</a></li>
        <li><a class="page-link" href="/about/">About</a></li>
        <li><a class="page-link" href="/contact">Contact</a></li>
      </ul>
      
    </nav>

  </div>
</header>
